{% extends 'base.html' %}
{% load static %}

{% block content %}
<div class="container">
    <h2>Your Visitors</h2>
    <div class="visitor-list">
        {% for visitor in visitors %}
        <div class="visitor-card">
            <h3>{{ forloop.counter }}. {{ visitor.name }}</h3>
            <p><strong>1. Phone:</strong> {{ visitor.phone }}</p>
            <p><strong>2. Address:</strong> {{ visitor.address }}</p>
            <p><strong>3. Email:</strong> {{ visitor.email }}</p>
            <p><strong>4. Description:</strong> {{ visitor.description }}</p>
            <p><strong>5. Date & Time:</strong> {{ visitor.date_time }}</p>
            <div class="visitor-id-proof">
                <p><strong>6. ID Proof:</strong></p>
                {% if visitor.id_proof %}
                <img src="{{ visitor.id_proof.url }}" alt="ID Proof" class="id-proof-img">
                {% else %}
                    <p>No Image</p>
                {% endif %}
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}